<%- include('../partials/header', { title: 'Edit Blog' }) %>


  <div class="d-flex justify-content-between p-2">
    <h1 class="mb-4 h3">Admin - Edit Blog</h1>
    <div>
      <a href="/admin/blogs" class="btn btn-sm btn-secondary mb-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back</a>
    </div>
  </div>

  <form action="/admin/blogs/<%= blog.id %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="title" class="form-control" id="title" value="<%= blog.title %>" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content:</label>
      <textarea name="content" class="form-control" id="content" required><%= blog.content %></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select name="status" class="form-select" id="status" required>
        <option value="draft" <%=blog.status==='draft' ? 'selected' : '' %>>Draft</option>
        <option value="publish" <%=blog.status==='publish' ? 'selected' : '' %>>Publish</option>
      </select>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label d-inline-block text-capitalize">Last updated at</label>
        <p class="d-inline-block border p-2">
          <%= blog.updated_at %>
        </p>
      </div>
      <div class="col-md-6">
        <label class="form-label d-inline-block text-capitalize">created at</label>
        <p class="d-inline-block border p-2">
          <%= blog.created_at %>
        </p>
      </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update</button>
  </form>

  <%- include('../partials/footer') %>