<%- include('../partials/header', { title: 'Admin - Blog Listing' }) %>

  <div class="d-flex justify-content-between p-2">
    <h1 class="mb-4 h3">Admin - Blogs</h1>
    <div>
      <a href="/admin/blogs/new" class="btn btn-sm btn-success mb-3"><i class="fas fa-plus"></i> Create New Blog</a>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Likes</th>
        <th scope="col">Comments</th>
        <th scope="col">created_at</th>
        <th scope="col">updated_at (published)</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% blogs.forEach(blog=> { %>

        <tr>
          <td>
            <%= blog.id %>
          </td>
          <td>
            <%= blog.title %>
          </td>
          <td>
            <%= blog.likes_count %>
          </td>
          <td>
            <%= blog.comments_count %>
          </td>
          <td>
            <%= blog.created_at %>
          </td>
          <td>
            <%= blog.updated_at %>
          </td>
          <td>
            <%= blog.status %>
          </td>
          <td class="text-center">
            <button class="btn btn-sm share-button btn-light" data-blogid="<%= blog.id %>">
              <i class="fa fa-share" aria-hidden="true"></i> Share
            </button>
            <a href="/admin/blogs/<%= blog.id %>/edit" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i>
              Edit</a>
            <form action="/admin/blogs/<%= blog.id %>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>


    </tbody>
  </table>


  <%- include('../partials/footer') %>