<%- include('./partials/header', { title: blog.title }) %>

  <div>
    <a href="/" class="btn btn-sm btn-secondary mb-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
  </div>

  <div class="row my-4">
    <div class="col-md-8">
      <h1 class="h3 py-2">
        <%= blog.title %>
      </h1>
      <p>
        <%= blog.content %>
      </p>
      <div class="my-1">
        <p class="small py-2">
          <small class="pe-4"> Likes: <span id="likeCount">
              <%= blog.likes_count %>
            </span></small>
          <small class="pe-4"> Comments: <%= blog.comments_count %></small>
          <small class="pe-4"> Published: <%= blog.updated_at %></small>
          <small class="pe-4"> Author: Admin</small>
        </p>
      </div>
      <div class="my-1">
        <button id="likeButton" class="btn btn-sm btn-secondary">
          <i class="fas fa-thumbs-up"></i> <span id="likeButtonText">Like</span>
        </button>
        <button class="btn btn-sm share-button btn-light">
          <i class="fa fa-share" aria-hidden="true"></i> Share
        </button>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-8 my-2 p-2 bg-light rounded">
      <h3 class="h5 py-2"><i class="fa fa-user-circle px-1" aria-hidden="true"></i> Add a Comment</h3>
      <form action="/blog/<%= blog.id %>/comment" method="POST">
        <div class="mb-3">
          <textarea name="content" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-secondary">
          <i class="fa-regular fa-paper-plane px-1"></i> Send
        </button>
      </form>
    </div>
    <div class="col-md-8 my-2 p-2">
      <h2 class="py-2 h5">Comments</h2>
      <div class="mb-4">
        <% comments.forEach(comment=> { %>
          <div class="rounded bg-light p-1 mb-3">
            <p class="d-inline-block mb-1 small">
              <span class="p-1 text-muted">
                <i class="fa fa-user-circle fs-5 px-2" aria-hidden="true"></i>
              </span>
              <strong>
                <%= comment.commenter_name %>
              </strong>
              <span class="small px-2 text-secondary">
                <%= comment.created_at %>
              </span>
            </p>
            <div class="ms-4 ps-4">
              <p>
                <%= comment.content %>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      const likeButton = $('#likeButton');
      const likeButtonText = $('#likeButtonText');
      const likeCountElement = $('#likeCount');
      const blogId = '<%= blog.id %>';

      // Check if the user has already liked the blog post
      $.get(`/blog/${blogId}/hasLiked`, function (data) {
        if (data.hasLiked) {
          likeButton.addClass('btn-primary').removeClass('btn-secondary');
          likeButtonText.text('Unlike');
        }
      });

      // Handle like button click
      likeButton.click(function (event) {
        event.preventDefault();

        const action = likeButtonText.text() === 'Like' ? 'like' : 'unlike';

        $.ajax({
          type: 'POST',
          url: `/blog/${blogId}/${action}`,
          success: function (data) {
            if (data.success) {
              // Update like count on the page
              likeCountElement.text(data.likeCount);

              // Update button text and style
              if (action === 'like') {
                likeButton.addClass('btn-primary').removeClass('btn-secondary');
                likeButtonText.text('Unlike');
              } else {
                likeButton.addClass('btn-secondary').removeClass('btn-primary');
                likeButtonText.text('Like');
              }
            } else {
              alert(data.message);
              location.href = "/user/login";
            }
          },
          error: function (xhr, status, error) {
            console.error('Error:', error);
            alert(`Failed to ${action} the blog. Please try again.`);
          }
        });
      });
    });
  </script>

  <%- include('./partials/footer') %>